<!DOCTYPE html>

<html>

<head>
    <title>About</title>
     <link rel="icon" href="/img/weather.png"> 
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>headers}}
    <img class="portrait" src="/img/me.JPG">
    </div>
    {{>footer}}
</body>

</html>